
<div class="cta-bar">
	<cms-cta
		[loading]="loadingInProgress"
		[onClick]="createArticle()"
			>create article</cms-cta>
</div>

<div class="links-container">
	<ul data-test="article-page" class="links">

		<li *ngFor="let article of articles" class="link">

			<span>{{article.title}}</span>

			<div class="button-panel">

				<button
						[routerLink]="['/view-article', article.id]"
						class="button"
						data-test="view-article-button">view article</button>

				<button
						[routerLink]="['/edit-article', article.id]"
						class="button"
						>edit article</button>
			</div>
		</li>
	</ul>
</div>
