@import '../../../variables';

:host {
	display: grid;
	grid-template-rows: auto 1fr;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.button-container {
	padding: 10px 16px;
	display: flex;
	align-items: center;
}

.content {
	padding: 0 12px;
}

.input-container {
	padding: $unit;

  .input {
    width: 100%;
		margin: 0;
  }

  .label {
    flex-shrink: 0;
  }
}

.spinner {
  width: 30px;
  height: 30px;
  margin-left: $half-unit;
}
  
.error {
  margin: 0 4px;
	padding-top: 4px;
  padding-bottom: 4px;
  color: $error-color;
  font-size: 12px;
	opacity: 0;
}

.error.show-error {
	opacity: 1;
}
