<div class="button-container">
	<cms-cta
		[disabled]="disabled"
		[loading]="loadingInProgress"
		[onClick]="update()">save to server</cms-cta>
</div>

<div class="content">
	<div [formGroup]="form" class="input-container">
		<label class="label" for="git-hub-url">github url</label>
		<input
				formControlName="github_url"
				class="input" id="git-hub-url"/>
		<div
			[class.show-error]="(githubUrl.dirty || githubUrl.touched) && githubUrl.invalid"
			class="error">you must provide a URL</div>
	</div>

</div>

