@import '../../../variables';

:host {
  display: grid;
	grid-template-rows: auto 1fr;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.cta-bar {
	padding: 10px 16px;
	background: $color-light-blue;
}

.cms-article-container {
  padding: $unit;
	position: relative;
}

.outer-content {
	position: absolute;
	left: 0;
	overflow: scroll;
	top: 0;
	bottom: 0;
	right: 0;
	padding-top: 16px;
}

.content {
  background: $color-white;
  margin: 2 * $unit;
  margin-top: 0;
  border-radius: $border-radius;
	padding: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
}

