
<div class="cta-bar">
	<button
		class="button"
		(click)="editArticle()">
		edit article
	</button>

	<button
		 class="button"
		 (click)="deleteArticle()">delete article</button>
</div>

<div class="cms-article-container">
	<div class="outer-content">
		<div class="content">
			<h2 class="article-header">{{(article$|async)?.title}}</h2>

			<div
				class="article-summary"
				[innerHTML]="(article$|async)?.summary | markdownToHTML"
				></div>

			<div
				class="article-content"
				[innerHTML]="(article$|async)?.body | markdownToHTML"
				></div>
		</div>
	</div>
</div>

