@import '../../../../variables';

/* project links */
.project-label {
  margin-right: 4px;
  font-weight: bold;
	display: inline-block;
}

.project-label::after {
  content: ":";
}

.title {
  font-size: 20px;
  line-height: 1.5;
  margin: 10px 0;
}

.href {
  margin: 10px 0;
}

.tags {
  display: flex;
  flex-wrap: nowrap;
	align-items: center;
  justify-content: flex-start;
  line-height: 1.5;
  font-size: 14px;
  margin: 10px 0;
}

.tags ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.tag {
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}

.tag:nth-child(1) {
  padding-left: 0;
}

.tag:last-child::after {
	content: none;
}

.tag::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 4px;
  bottom: 4px;
  left: calc(100% - 1px);
  background-color: $color-light-blue;
  width:2px;
  border-radius: 2px;
}

.published {
  margin: 10px 0;
}

.buttons {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
  padding: 8px 0;
	gap: 10px;
}

