@import '../../styles';
@import '../../variables';

:host {
	display: grid;
	grid-template-rows: auto 1fr;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.cta-bar {
	padding: 10px 16px;
	background: $color-light-blue;
}

.links-container {
	position: relative;
}

.links {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
  padding: 20px;
	overflow-y: scroll;
	height: 100%;
}

.link {
  background: white;
  margin-bottom: $size-gutter-small;
  padding: 20px;
  display: flow-root;

  &:last-child {
    border-bottom: none;
  }
}

.link.unsaved {
  background: lighten($unsaved-color, 30%);
}

.button-panel {
  float: right;
}

