<div class="cta-bar">
	<button
		[disabled]="formDisabled"
		class="button"
		(click)="save()">Save&nbsp;edit</button>
</div>

<div class="outer-container">
	<div class="container">

		<ng-container *ngIf="article$">
			<div [formGroup]="formGroup" class="edit-pane">
				<div class="input-container">
					<label
						for="edit-title"
						class="label">Title</label>
					<input
						id="edit-title"
						formControlName="title"
						class="input"/>
				</div>

				<div class="input-container">
					<label for="edit-summary" class="label">summary</label>
					<textarea
						id="edit-summary"
						formControlName="summary"
						class="input"></textarea>
				</div>

				<div class="input-container">
					<label
						for="edit-body"
						class="label">body text</label>
					<textarea 
						id="edit-body"
						data-test="edit-pane"
						formControlName="body"
						class="input"
						></textarea>
				</div>


				<div class="select-tags-container">
					<div class="tags" formGroupName="tags">
						<ng-container *ngFor="let tag of tagList">
							<cms-checkbox
								[formControlName]="tag"
								[cbId]="tag"
								label={{tag}}></cms-checkbox>
						</ng-container>
					</div>
					<div [class.show-error]="tags.invalid" class="tags-error">You are only allowed to select 3 tags</div>

				</div>
			</div>

			<div class="article-pane">
				<h2 class="article-header">{{title}}</h2>

				<div
					class="article-summary"
					[innerHTML]="summary | markdownToHTML"
					></div>

				<div
					class="article-content"
					[innerHTML]="body | markdownToHTML"
					></div>

			</div>
		</ng-container>
	</div>
</div>
