@import '../../../variables';

:host {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: scroll;
}

.container {
	padding: 10px;
}

section {
	h2 {
		color: $color-text;
		line-height: 20px;
	}

	border-radius: 4px;
	display: block;
	background: $color-light-background;
	padding: 10px;
	margin-bottom: 10px;
}

.color-swatches {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	li {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		padding: 4px;
		width: 150px;
		height: 150px;
	}
}

pre {
	color: $color-text;
	background: white;
	padding: 4px;
	font-family: courier;
	font-size: 14px;
}

.color-base {
  background: $base-color;
}

.color-light-blue {
  background: $color-light-blue;
}

.color-border {
  background: $color-border;
}

.color-background {
  background: $color-background;
}

.color-shadow {
  background: $color-shadow;
}

.color-highlight {
  background: $color-highlight;
}


