<div class="cta-bar">
	<cms-cta
		(click)="saveEdit()"
		[loading]="showLoader$ | async"
		[disabled]="saveDisabled$ | async">Save Edit</cms-cta>
</div>

<!-- only purpose of this div is to so the container div can be relative to it: is there a better way? -->
<div class="outer-container">
	<div class="container">
		<div [formGroup]="fGroup" class="edit-pane">
			<label
				for="edit-body"
				class="label">body text</label>
			<textarea 
				id="edit-body"
				data-test="edit-pane"
				formControlName="body"
				class="input"
				></textarea>
		</div>

		<div class="article-pane">
			<div
				class="article-content"
				[innerHTML]="(body$|async) | markdownToHTML"
				></div>
		</div>
	</div>
</div>
