@import '../../../variables';

$error-color: orange;

:host {
	display: grid;
	grid-template-rows: auto 1fr;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.cta-bar {
	display: flex;
	align-items: center;
	padding: 10px 16px;
	background: $color-light-blue;
}

.outer-container {
	position: relative;
}

.container {
  padding: $size-gutter;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $half-unit * 2;
	background: $color-background;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.edit-pane,
.article-pane {
  border: solid 1px $color-border;
}

.edit-pane {
	display: grid;
	background-color: white;
	grid-template-rows: auto 1fr;
  padding: $half-unit;
}

.article-pane {
  padding-left: 10px;
}

.article-pane {
  background: $color-white;
  padding: $size-gutter;
  overflow-y: scroll;
}

.edit-label {
  display: block;
  font-size: 18px;
}

.edit-summary-pane {
  resize: vertical;
}

.edit-body-pane {
  resize: vertical;
  min-height: 200px;
}

textarea {
  resize: none;
}

.spinner {
  width: 30px;
  height: 30px;
  margin-left: $half-unit;
}
