@import '../../../variables';

:host {
	display: grid;
	grid-template-rows: auto 1fr;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.cta-bar {
	display: flex;
	align-items: center;
	padding: 10px 16px;
	background: $color-light-blue;
}

.outer-container {
	position: relative;
}

.container {
  padding: $size-gutter;
	overflow: scroll;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.page-title {
	margin-bottom:  12px;
}

.project-item {
	margin: 4px 0;
	background: white;
	padding: 4px;
}


.item-header {
	display: flex;

	.button {
		margin-left: auto;
	}
}

/* project links */
.project-label {
  margin-right: 4px;
  font-weight: bold;
	display: inline-block;
}

.project-label::after {
  content: ":";
}

.title {
  font-size: 20px;
  line-height: 1.5;
  margin: 10px 0;
}

.href {
  margin: 10px 0;
}

.tags {
  display: flex;
  flex-wrap: nowrap;
	align-items: center;
  justify-content: flex-start;
  line-height: 1.5;
  font-size: 14px;
  margin: 10px 0;
}

.published {
  margin: 10px 0;
}

.tags ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.tag {
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}

.tag:nth-child(1) {
  padding-left: 0;
}

.tag:last-child::after {
	content: none;
}

.tag::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 4px;
  bottom: 4px;
  left: calc(100% - 1px);
  background-color: $color-light-blue;
  width:2px;
  border-radius: 2px;
}

.buttons {
  padding: 8px 0;
}
