<div class="cta-bar">
</div>

<!-- only purpose of this div is to so the container div can be relative to it: is there a better way? -->
<div class="outer-container">

	<div class="container">
		<h2 class="page-title">Projects</h2>
		<div class="cta-header">
			<cms-cta
				[loading]="loadingCreateProjectInProgress"
				[onClick]="createProject()"
				>create project</cms-cta>
		</div>
		<ul>
			<li *ngFor="let project of projectLinks; trackBy: trackByFn" class="project-item">
				<ng-container *ngIf="showEditView(project.id)">
					<project-edit-form
						(onSavedProject)="saveProject($event)"
						(onShowEdit)="setEditView($event)"
						[project]="project"></project-edit-form>
				</ng-container>

				<ng-container *ngIf="!showEditView(project.id)">

					<cms-project-view
						(onDelete)="deleteProject($event)"
						(onShowEdit)="setEditView($event)"
						[project]="project"></cms-project-view>

				</ng-container>
			</li>
		</ul>
	</div>
</div>

