@import './reset';
@import './variables';
/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  font-family: helvetica;
}

body {
  background: $color-background;
	color: $color-text;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.label {
  text-transform: lowercase;
	color: $color-text;
	font-size: 14px;
  line-height: 20px;
  margin: $half-unit;
  &:after {
    content: ':'
  }
}

.input { 
  margin: $half-unit;
  font-family: courier;
  border: solid 1px $color-border;
  padding: $size-gutter-small;
  border: solid 1px $color-shadow;
  outline: none;
  vertical-align: middle;

  &.ng-invalid.ng-dirty {
  }
}

.horizontal-rule {
  margin: $half-unit ($half-unit * 2);
  padding: 0;
  border: none;
  border-top: solid 1px $color-border;
}

.button {
  border-radius: $border-radius;
  padding: 10px 20px;
  border: none;
  outline: none;
  box-shadow: 0px 1px 2px 1px $color-shadow;
  border: solid 1px lighten($base-color, 15%);
  background-image: linear-gradient(0deg, lighten($base-color, 20%), lighten($base-color, 30%));
  margin: $half-unit;
}

.button:hover {
  background-image: linear-gradient(0deg, lighten($base-color, 20%), lighten($base-color, 35%));
}

