@import '../../variables';

$error-color: orange;

:host {
	display: grid;
	grid-template-rows: auto 1fr;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

.outer-container {
	position: relative;
}

.container {
  padding: $size-gutter;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: $half-unit * 2;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
}

.cta-bar {
	padding: 10px 16px;
	background: $color-light-blue;
}

.edit-pane,
.article-pane {
  border: solid 1px $color-border;
	overflow: scroll;
}

.edit-pane {
  display: flex;
  flex-direction: column;
  padding: $half-unit;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.article-pane {
  padding-left: 10px;
}

.select-tags-container {
  margin-bottom: 0;
}

.select-tags-error-message {
  color: $error-color;
  padding: 0 0 5px 0;
}

.select-tags-error-message__hidden {
  visibility: hidden;
}

.button {
  margin-right: $size-gutter-small;

  &:last-child {
    margin-right: 0;
  }
}
.article-pane {
  background: $color-white;
  padding: $size-gutter;
  overflow-y: scroll;
}

.select-tags-caption {
  display: block;
  font-size: 18px;
  padding: $size-gutter-small 0;
}

.edit-label {
  display: block;
  font-size: 18px;
}

.edit-summary-pane {
  resize: vertical;
}

.edit-body-pane {
  resize: vertical;
  min-height: 200px;
}

textarea {
  resize: vertical;
}


